<div class="card bg-dark col-lg-8 mt-2 ">
  <div class="card-body">
    <div class="card-title color-red"><%= content_tag(:h5, t('.rejection_feedback')) %></div>
    <%= content_tag(:p, @rejection.feedback) %>
  </div>
</div>