@import url('https://fonts.googleapis.com/css?family=Open+Sans|Overpass+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
@import "bootstrap";
@import "home";
@import "navbar";
@import "form";
@import "cards";


html body {
  font-family: 'Overpass Mono', monospace;
}
body {
  background-color: #000000;
  color: #F6F7EB;
}

a {
  color: #03a9f4;
}

hr{
  border-bottom: 1px solid #F6F7EB;
}