.fav-star {
  padding-right: 15px;
  color: #44BBA4;
  &:hover {
    color: rgb(53, 160, 53);
  }
}

.font-md {
  font-size: medium;
}

.font-lg {
  font-size: large;
}

.font-xlg {
  font-size: x-large;
}

.color-red {
  color: #D00000;
}

.color-green {
  color: #44BBA4;
}

.label-btn {
  color: black;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
  }
}